<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        * { font-family: Helvetica; }
    </style>
</head>
<body>
    <form method="post">
        <h1>Register</h1>
        <label>name</label>
        <input type="text" name="login" />
        <br />
        <label>password</label>
        <input type="password" name="password" />
        <br />
        <label>password confirm</label>
        <input type="password" name="password-confirm" />
        <br />
        <input type="submit" value="register" />
        <a href="/login">login</a>
    </form>
</body>
</html>
